.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
}

.product-image {
    width: 50%;
    height: 100%;
    background-color: #ccc;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.product-title {
    font-size: 20px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}

.product-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    background-color: #ccc;
    margin-right: 40px;
}

.input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}