.nav-wrapper {
    height: 100px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid #ccc;
    background-color: #f0f4f7;
}

.brand-logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

.counter {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin-left: 1150px;
    cursor: pointer;
    font-size: large;
}

.cart-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}